<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<h1>USER PAGE</h1>

<h2>User info</h2>

<p>
    Email:
    <span th:text="${user.email}"></span>
</p>

<p>
    First Name:
    <span th:text="${user.firstName}"></span>
</p>

<p>
    Last Name:
    <span th:text="${user.lastName}"></span>
</p>

<h3>Roles:</h3>

<ul>
    <li th:each="role : ${user.roles}"
        th:text="${role.name}">
    </li>
</ul>

</body>
</html>